.home {
  width: auto;
  height: auto;
  position: relative;
  padding: 10% 5% 20% 5%;
  box-sizing: border-box;
}

.home_inner {
  margin: 5% auto;
  padding: 0;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.home_inner div:nth-child(2) {
  order: 2;
}

.welcome_intro_text {
  width: 100%;
  height: 100%;
  margin: 0 0 12%;
  order: 1;
}

.welcome_intro_blurb p {
  font-size: 1rem;
  line-height: 2em;
  padding: 0 1.5em 0 0;
}

.welcome_intro_photo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  order: 2;
}

.photo {
  overflow: hidden;
  border-radius: 50%;
  width: 50%;
  aspect-ratio: 1;
  height: auto;
  position: relative;
  margin-bottom: 2.5em;
}

.photo img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translateX(-50%) translateY(-50%);
}

.welcome_intro_text h1 {
  font-size: 2.2em;
  font-weight: 700;
}

.welcome_intro_text h2 {
  font-size: 1.5em;
  font-weight: 100;
}

.welcome_intro_text h3 {
  font-size: 1em;
  font-weight: 100;
  color: white;
  margin: 1em 0;
  display: none;
}

.welcome_intro_text img {
  width: 1.8em;
  height: auto;
  margin: 0.3em 0.1em;
  display: none;
}

.lang {
  background-color: #343a40;
  padding: 0.5em 1.2em;
  border-radius: 5em;
  line-height: 3em;
  margin: 0 0.3em 0 0;
  color: rgba(255, 255, 255, 0.95);
  white-space: nowrap;
}

@media screen and (min-width: 600px) {
  .home {
    width: 100%;
    padding: 15%;
    height: auto;
    min-height: none;
    box-sizing: border-box;
  }

  .photo {
    max-width: 14rem;
  }
}

@media screen and (min-width: 950px) {
  .home {
    width: 100%;
    padding: 15% 5%;
    height: auto;
    min-height: none;
    box-sizing: border-box;
  }

  .home_inner {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    transform: translateY(-3em);
  }

  .welcome_intro_text {
    width: 60%;
    height: auto;
    margin: 0 0 0 8%;
    order: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .welcome_intro_text p {
    padding: 0;
  }

  .welcome_intro_text img {
    display: inline;
  }

  .welcome_intro_blurb {
    width: 100%;
    font-size: 1rem;
    padding: 1em 8% 0 0;
    line-height: 2.5em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.75;
  }

  .welcome_intro_photo {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .photo {
    width: 90%;
    max-width: none;
  }

  .welcome_intro_text h1 {
    font-size: 3em;
    margin: 0;
  }

  .welcome_intro_text h2 {
    font-size: 1.8em;
  }

  .welcome_intro_text h3 {
    font-size: 1em;
  }

  .col img {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .home {
    width: 100%;
    padding: 0;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home_inner {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    transform: translateY(0);
  }

  .welcome_intro_text {
    width: 65%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .welcome_intro_text h1 {
    font-size: 2.4em;
    margin: 0.7rem 0;
  }

  .welcome_intro_text h2 {
    font-size: 1.3em;
    font-weight: 300;
  }

  .welcome_intro_text h3 {
    font-size: 0.9em;
    font-weight: 100;
    color: white;
    margin: 0.25em 0;
  }

  .welcome_intro_blurb {
    width: 90%;
    height: 100%;
    padding: 0;
  }

  .welcome_intro_blurb p {
    font-size: 1rem;
  }

  .welcome_intro_text img {
    width: 1.8em;
    height: auto;
  }

  .welcome_intro_photo {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2em 0 0;
  }

  .photo {
    overflow: hidden;
    border-radius: 50%;
    width: 80%;
    position: relative;
  }

  .photo img {
    width: 90%;
    height: auto;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media screen and (min-width: 1500px) {
  .home_inner {
    width: 60%;
  }
}
