
.button-group-projects {
  display: flex;
  justify-content: center;
}

button {
  font-family: "Oxanium", "fallback for Oxanium";
  width: 6rem;
  height: 2.5em;
  font-size: 1rem;
  margin: 1.4em 0.5em 2em 0;
  border: none;
  padding: 0.5em 1em;
}

button:active {
  transform: translate(1px, 2px);
}

.no-hover:active {
  transform: translate(0, 0);
}

button.yellow {
  background-color: rgb(235, 159, 8);
  background-color: white;
  border: 1.5px solid #343a40;
}

button.blue {
  background-color: rgb(8, 182, 235);
  background-color: #343a40;
  color: white;
}

.projects_section {
  width: 100%;
  height: auto;
  padding: 1rem 0 5rem;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.projects_section .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .order .col:nth-child(1) {
  order: 2;
}

.wrapper .order .col:nth-child(2) {
  order: 1;
}

.row {
  width: 100%;
  max-width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.row .txt {
  text-align: left;
  box-sizing: border-box;
}

.row .txt h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

.row .txt p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5em;

}

.row .txt ul li {
  font-size: 1rem;
  font-weight: 200;
  margin: 0 0.8em 0 -1.2em;
  line-height: 1.5em;
  text-align: left;
}

.row .txt ul li ul li {
  margin: auto auto auto -1.5em;
  font-size: 1rem;
}

.col {
  width: 100%;
  flex: 1;
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 0;
}

.v-col {
  padding: 2rem;
}

.h-col {
  padding: 5em 2em;
}

.col button {
  padding: 0.5em 1em;
  font-size: 1rem;
  margin: 3em 0.5em 1em;
}

.img_back {
  object-fit: contain;
  width: 100%;
  height: auto;
}


p.client {
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .col {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 830px) {

  .projects_section {
    max-height: auto;
    color: #343a40;
  }

  .projects_section .wrapper {
    max-width: 70em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    max-width: none;
    display: flex;
    min-height: 50em;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 0;
  }

  .row .txt {
    text-align: left;
    align-items: flex-start;
    justify-content: center;
  }

  .h-col {
    padding: auto auto;
  }

  .col {
    width: 50%;
    padding: 3em;
    flex: 1;
  }

  .col-expanded {
    padding: 3em;
    display: flex;
    align-items: center;
    flex: 1;
  }

  .row .txt ul li {
    margin: 0 1em 0 -2em;
    line-height: 1.5em;
    text-align: left;
    font-size: 1rem;
  }

  .row .txt ul li ul li {
    margin: auto auto auto -1.5em;
  }

  .wrapper .order .col:nth-child(1) {
    order: 0;
  }

  .col img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .v-col img {
    height: 80%;
  }

  .col-expanded.v-col img {
    height: 95%;
  }
}

@media screen and (min-width: 1000px) {

  .row {
    height: 50em;
  }

  .row .txt h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5em;
  }

  .row .txt p {
    margin: 0;
    font-size: 1em;
    font-weight: 300;
  }
  
  .row .txt p.client {
    margin: 0 0 1rem;
  }

  .row .txt ul li {
    font-size: 1rem;
    font-weight: 200;
    margin: 0.5em 0 0 -1.5em;
  }

  .col button {
    font-size: 1em;
  }
}
