.skills_section {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 3em 0 0;
  color: #343a40;
  position: relative;
}

.deco1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-130%, -40%);
  z-index: -10;
}

.deco2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 400%);
  z-index: -10;
}

.deco3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140%, 580%);
  z-index: -10;
}

.deco1 img {
  width: 30rem;
  opacity: .22;
}

.deco2 img {
  width: 25rem;
  opacity: .22;
}

.deco3 img {
  width: 35rem;
  opacity: .22;
}

.inner_skills_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 95%;
  height: auto;
  text-align: center;
  padding: 1.5em 1.5em;
  box-sizing: border-box;
}

.skills img {
  width: 4em;
  margin-bottom: 1em;
  opacity: 0.8;
}

.skills h4 {
  font-size: 1.8em;
  font-weight: 400;
}

.skills p {
  font-size: 1.3em;
  font-weight: 100;
  line-height: 2.2em;
}

.title-wrapper {
  text-align: center;
  margin: 3rem 0 4.5rem;
}

.project-title {
  margin-bottom: 1em;
  font-size: 2rem;
}

.title-wrapper h2 {
  font-size: 1.3rem;
  font-weight: 200
}

@media screen and (min-width: 600px) {
  .skills_section {
    width: auto;
    flex-direction: row;
  }
  .inner_skills_section {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .skills {
    width: 45%;
    margin: 0 0.5em;
  }

  .skills h4 {
    font-size: 1.6em;
    font-weight: 400;
  }

  .skills p {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.8em;
  }
}

@media screen and (min-width: 1000px) {
  .skills_section {
    width: auto;
    flex-direction: row;
    box-sizing: border-box;
  }

  .inner_skills_section {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1.5rem;
  }

  .skills {
    width: 25%;
    padding: 1.5em 0;
  }

  .skills h4 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .skills p {
    font-size: 1rem;
    line-height: 2em;
  }

  .title-wrapper {
    text-align: center;
    margin: 3rem 0 2rem;
  }
}
