.success-section {
    width: 100%; 
    height: auto; 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    padding: 2em; 
    box-sizing: border-box; 
    font-size: 1.2em;
}

.success-section p {
    text-align: center;
    font-size: 1.2em;
    line-height: 2;
    margin: 1em 0;
}

.success-section img {
    width: 100%;
}

.success-section .btn-success {
    width: 8em;
    height: 3.5em;
    font-size: 1.2em;
    margin: 4em 0;
}

@media only screen and (min-width: 800px) and (min-height: 1300px) {
    .success-section img {
        width: 30%;
    }
    
    .success-section .btn-success {
        width: 8em;
        height: 3.5em;
        font-size: 1em;
        margin: 4em 0;
    }
}

@media only screen and (min-width: 1200px) and (min-height: 700px) {
    .success-section img {
        width: 30%;
    }
    
    .success-section .btn-success {
        width: 8em;
        height: 3.5em;
        font-size: 1em;
        margin: 3em 0;
    }
}